[toolchain]

[features]
resolution = true
skip-lint = false

[programs.devnet]
crud = "2rMvvFmGX97VYJWFTpnVgrGGptBvCcXBrGEd3BjtALXf"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "cargo test"
